<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.CityInvestMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.CityInvest" >
    <id column="in_id" property="inId" jdbcType="INTEGER" />
    <result column="in_type" property="inType" jdbcType="INTEGER" />
    <result column="in_name" property="inName" jdbcType="VARCHAR" />
    <result column="in_img" property="inImg" jdbcType="VARCHAR" />
    <result column="in_limit" property="inLimit" jdbcType="DECIMAL" />
    <result column="in_start" property="inStart" jdbcType="TIMESTAMP" />
    <result column="in_personal_tax" property="inPersonalTax" jdbcType="DECIMAL" />
    <result column="in_enterprise_tax" property="inEnterpriseTax" jdbcType="DECIMAL" />
    <result column="in_quota_tax" property="inQuotaTax" jdbcType="DECIMAL" />
    <result column="in_earning" property="inEarning" jdbcType="DECIMAL" />
    <result column="in_end" property="inEnd" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    in_id, in_name, in_limit, in_start, in_personal_tax, in_enterprise_tax, in_earning, in_end,in_quota_tax,in_type,
    DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') create_time, DATE_FORMAT(update_time,'%Y-%m-%d %h:%m:%s') update_time,is_valid,in_img
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from city_invest
    <where>
      in_id = #{inId,jdbcType=INTEGER}

    </where>
  </select>


  <resultMap id="ExtResultMap" type="com.dream.city.base.model.resp.InvestResp" >
    <id column="in_id" property="inId" jdbcType="INTEGER" />
    <result column="in_type" property="inType" jdbcType="INTEGER" />
    <result column="in_name" property="inName" jdbcType="VARCHAR" />
    <result column="in_img" property="inImg" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="in_limit" property="inLimit" jdbcType="DECIMAL" />
    <result column="in_start" property="inStart" jdbcType="TIMESTAMP" />
    <result column="in_personal_tax" property="personalInTax" jdbcType="DECIMAL" />
    <result column="in_enterprise_tax" property="enterpriseIntax" jdbcType="DECIMAL" />
    <result column="in_quota_tax" property="inQuotaTax" jdbcType="DECIMAL" />
    <result column="earn_current" property="earnCurrent" jdbcType="DECIMAL" />
    <result column="in_quota_tax" property="inQuotaTax" jdbcType="DECIMAL" />
    <result column="in_earning" property="inEarning" jdbcType="TINYINT" />
    <result column="is_withdrew" property="isWithdrew" jdbcType="TINYINT" />
    <result column="in_end" property="inEnd" jdbcType="TIMESTAMP" />
    <result column="verify_time" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
  </resultMap>

  <select id="selectCityInvest" resultMap="ExtResultMap" parameterType="com.dream.city.base.model.req.CityInvestReq" >
    select i.in_id,
      i.in_name,
      i.in_limit,
      i.in_type,
      i.in_start,
      i.in_personal_tax,
      i.in_enterprise_tax,
      i.in_quota_tax,
      i.in_earning,
      i.in_end,
      i.is_valid,
      i.in_img,
      (SELECT e.earn_current FROM player_earning e WHERE e.earn_invest_id = i.in_id AND e.earn_player_id = #{playerId,jdbcType=VARCHAR} ORDER BY e.update_time DESC LIMIT 1) earn_current,
      (SELECT e.is_withdrew FROM player_earning e WHERE e.earn_invest_id = i.in_id AND e.earn_player_id = #{playerId,jdbcType=VARCHAR} ORDER BY e.update_time DESC LIMIT 1) is_withdrew,
      (SELECT o.order_state FROM invest_order o WHERE o.order_invest_id =i.in_id and o.order_payer_id = #{playerId,jdbcType=VARCHAR} ORDER BY o.update_time DESC LIMIT 1) order_state,
      (SELECT v.create_time FROM trade_verify v,invest_order o WHERE v.verify_order_id = o.order_id and o.order_invest_id =i.in_id ORDER BY v.create_time DESC LIMIT 1) verify_time
    from city_invest i
    <where>
      1=1
      <if test="inId !=null">
        and i.in_id = #{inId,jdbcType=INTEGER}
      </if>
      <if test="inType !=null">
        and i.in_type = #{inType,jdbcType=INTEGER}
      </if>
      <if test="inName !=null and inName !=''">
        and i.in_name = #{inName,jdbcType=VARCHAR}
      </if>
    </where>
      order by i.update_time desc limit 1
  </select>


  <select id="getInvestLsit" resultMap="ExtResultMap" parameterType="com.dream.city.base.model.req.CityInvestReq" >
    select i.in_id,
      i.in_name,
      i.in_limit,
      i.in_type,
      i.in_start,
      i.in_personal_tax,
      i.in_enterprise_tax,
      i.in_quota_tax,
      i.in_earning,
      i.in_end,
      i.is_valid,
      i.in_img,
      (SELECT e1.earn_current FROM player_earning e1 WHERE e1.earn_invest_id = i.in_id AND e1.earn_player_id = #{playerId,jdbcType=VARCHAR} ORDER BY e1.update_time DESC LIMIT 1) earn_current,
      (SELECT e2.is_withdrew FROM player_earning e2 WHERE e2.earn_invest_id = i.in_id AND e2.earn_player_id = #{playerId,jdbcType=VARCHAR} ORDER BY e2.update_time DESC LIMIT 1) is_withdrew,
      (SELECT o.order_state FROM invest_order o WHERE o.order_invest_id =i.in_id AND o.order_payer_id = #{playerId,jdbcType=VARCHAR} ORDER BY o.update_time DESC LIMIT 1) order_state,
      (SELECT v.create_time FROM trade_verify v,invest_order o WHERE v.verify_order_id = o.order_id AND o.order_invest_id =i.in_id AND o.order_state='5' AND o.order_payer_id = #{playerId,jdbcType=VARCHAR} ORDER BY v.create_time DESC LIMIT 1) verify_time
    from city_invest i
    <where>
      1=1
      <if test="inId !=null">
        and i.in_id = #{inId,jdbcType=INTEGER}
      </if>
      <if test="inName !=null and inName !=''">
        and i.in_name = #{inName,jdbcType=VARCHAR}
      </if>
      <if test="inType !=null">
        and i.in_type = #{inType,jdbcType=INTEGER}
      </if>
    </where>
    order by i.update_time desc
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_invest
    where in_id = #{inId,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.CityInvest" >
    insert into city_invest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inId != null" >
        in_id,
      </if>
      <if test="inName != null" >
        in_name,
      </if>
      <if test="inLimit != null" >
        in_limit,
      </if>
      <if test="inStart != null" >
        in_start,
      </if>
      <if test="inPersonalTax != null" >
        in_personal_tax,
      </if>
      <if test="inEnterpriseTax != null" >
        in_enterprise_tax,
      </if>
      <if test="inQuotaTax != null" >
        in_quota_tax,
      </if>
      <if test="inEarning != null" >
        in_earning,
      </if>
      <if test="inEnd != null" >
        in_end,
      </if>
      <if test="inImg != null" >
        in_img,
      </if>
      <if test="inType != null" >
        in_type,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inId != null" >
        #{inId,jdbcType=INTEGER},
      </if>
      <if test="inName != null" >
        #{inName,jdbcType=VARCHAR},
      </if>
      <if test="inLimit != null" >
        #{inLimit,jdbcType=DECIMAL},
      </if>
      <if test="inStart != null" >
        #{inStart,jdbcType=TIMESTAMP},
      </if>
      <if test="inPersonalTax != null" >
        #{inPersonalTax,jdbcType=REAL},
      </if>
      <if test="inEnterpriseTax != null" >
        #{inEnterpriseTax,jdbcType=REAL},
      </if>
      <if test="inQuotaTax != null" >
        #{inQuotaTax,jdbcType=REAL},
      </if>
      <if test="inEarning != null" >
        #{inEarning,jdbcType=TINYINT},
      </if>
      <if test="inEnd != null" >
        #{inEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="inImg != null" >
        #{inImg,jdbcType=VARCHAR},
      </if>
      <if test="inType != null" >
        #{inType,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.entity.CityInvest" >
    update city_invest
    <set >
      <if test="inName != null" >
        in_name = #{inName,jdbcType=VARCHAR},
      </if>
      <if test="inLimit != null" >
        in_limit = #{inLimit,jdbcType=DECIMAL},
      </if>
      <if test="inStart != null" >
        in_start = #{inStart,jdbcType=TIMESTAMP},
      </if>
      <if test="inPersonalTax != null" >
        in_personal_tax = #{inPersonalTax,jdbcType=REAL},
      </if>
      <if test="inEnterpriseTax != null" >
        in_enterprise_tax = #{inEnterpriseTax,jdbcType=REAL},
      </if>
      <if test="inQuotaTax != null" >
        in_quota_tax = #{inQuotaTax,jdbcType=REAL},
      </if>
      <if test="inEarning != null" >
        in_earning = #{inEarning,jdbcType=TINYINT},
      </if>
      <if test="inEnd != null" >
        in_end = #{inEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="inImg != null" >
        in_img = #{inImg,jdbcType=VARCHAR},
      </if>
      <if test="inType != null" >
        in_type = #{inType,jdbcType=INTEGER},
      </if>
      update_time = now(),
    </set>
    where in_id = #{inId,jdbcType=INTEGER}
  </update>


</mapper>