<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dic_name" property="name" jdbcType="VARCHAR" />
    <result column="dic_key" property="key" jdbcType="VARCHAR" />
    <result column="dic_val" property="val" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT" />
    <result column="dic_descr" property="descr" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, dic_name, dic_key, dic_val, is_valid, dic_descr, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  d.*
    from city_dictionary d
    where d.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getDictionaryByKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  d.*
    from city_dictionary d
    where d.dic_key like '%${key}%'
  </select>

  <select id="getDictionaryByVal" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select d.*
    from city_dictionary d
    where d.dic_val like '%${val}%'
  </select>

  <select id="getDictionaryByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  d.*
    from city_dictionary d
    where d.dic_name like '%${name}%'
  </select>

  <select id="getDictionaryList" resultMap="BaseResultMap" parameterType="com.dream.city.base.model.entity.Dictionary" >
    select  d.*
    from city_dictionary d
    <where>
      <if test="id != null" >
        and d.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null and name != ''" >
        and d.dic_name like '%${name}%'
      </if>
      <if test="key != null and key != ''" >
        and d.dic_key like '%${key}%'
      </if>
      <if test="val != null and val != ''" >
        and d.dic_val like '%${val}%'
      </if>
      <if test="isValid != null" >
        and d.is_valid = #{isValid,jdbcType=TINYINT}
      </if>
      <if test="descr != null and descr != ''" >
        and d.dic_descr like '%${descr}%'
      </if>

    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.Dictionary" >
    insert into city_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null and name != ''" >
        dic_name,
      </if>
      <if test="key != null and key != ''" >
        dic_key,
      </if>
      <if test="val != null and val != ''" >
        dic_val,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="descr != null and descr != ''" >
        dic_descr,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null and key != ''" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="val != null and val != ''" >
        #{val,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="descr != null and descr != ''" >
        #{descr,jdbcType=VARCHAR},
      </if>
      now(),
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.entity.Dictionary" >
    update city_dictionary
    <set >
    <if test="name != null and name != ''" >
        dic_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null and key != ''" >
        dic_key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="val != null and val != ''" >
        dic_val = #{val,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="descr != null and descr != ''" >
        dic_descr = #{descr,jdbcType=VARCHAR},
      </if>
      create_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>