<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.EarnIncomeLogMapper" >
  <resultMap id="BaseEarningResultMap1" type="com.dream.city.base.model.entity.EarnIncomeLog" >
    <id column="in_log_id" property="inLogId" jdbcType="INTEGER" />
    <result column="in_invest_id" property="inInvestId" jdbcType="INTEGER" />
    <result column="in_player_id" property="inPlayerId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    in_log_id, in_invest_id, in_player_id, amount, create_time
  </sql>
</mapper>