<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.InvestRuleMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.InvestRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="rule_flag" property="ruleFlag" jdbcType="VARCHAR" />
    <result column="rule_opt_pre" property="ruleOptPre" jdbcType="VARCHAR" />
    <result column="rule_opt" property="ruleOpt" jdbcType="VARCHAR" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="rule_item" property="ruleItem" jdbcType="INTEGER" />
    <result column="rule_rate_pre" property="ruleRatePre" jdbcType="DECIMAL" />
    <result column="rule_rate" property="ruleRate" jdbcType="DECIMAL" />
    <result column="rule_level" property="ruleLevel" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_id, rule_flag, rule_opt_pre, rule_opt, rule_name, rule_desc, rule_item, rule_rate_pre,
    rule_rate, rule_level, DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') create_time, DATE_FORMAT(update_time,'%Y-%m-%d %h:%m:%s') update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from invest_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invest_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.city.base.model.entity.InvestRule" >
    insert into invest_rule (rule_id, rule_flag, rule_opt_pre,
      rule_opt, rule_name, rule_desc,
      rule_item, rule_rate_pre, rule_rate,
      rule_level, create_time, update_time
      )
    values (#{ruleId,jdbcType=INTEGER}, #{ruleFlag,jdbcType=VARCHAR}, #{ruleOptPre,jdbcType=VARCHAR},
      #{ruleOpt,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{ruleDesc,jdbcType=VARCHAR},
      #{ruleItem,jdbcType=INTEGER}, #{ruleRatePre,jdbcType=DECIMAL}, #{ruleRate,jdbcType=DECIMAL},
      #{ruleLevel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.InvestRule" >
    insert into invest_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="ruleFlag != null" >
        rule_flag,
      </if>
      <if test="ruleOptPre != null" >
        rule_opt_pre,
      </if>
      <if test="ruleOpt != null" >
        rule_opt,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="ruleDesc != null" >
        rule_desc,
      </if>
      <if test="ruleItem != null" >
        rule_item,
      </if>
      <if test="ruleRatePre != null" >
        rule_rate_pre,
      </if>
      <if test="ruleRate != null" >
        rule_rate,
      </if>
      <if test="ruleLevel != null" >
        rule_level,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleFlag != null" >
        #{ruleFlag,jdbcType=VARCHAR},
      </if>
      <if test="ruleOptPre != null" >
        #{ruleOptPre,jdbcType=VARCHAR},
      </if>
      <if test="ruleOpt != null" >
        #{ruleOpt,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="ruleItem != null" >
        #{ruleItem,jdbcType=INTEGER},
      </if>
      <if test="ruleRatePre != null" >
        #{ruleRatePre,jdbcType=DECIMAL},
      </if>
      <if test="ruleRate != null" >
        #{ruleRate,jdbcType=DECIMAL},
      </if>
      <if test="ruleLevel != null" >
        #{ruleLevel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.entity.InvestRule" >
    update invest_rule
    <set >
      <if test="ruleFlag != null" >
        rule_flag = #{ruleFlag,jdbcType=VARCHAR},
      </if>
      <if test="ruleOptPre != null" >
        rule_opt_pre = #{ruleOptPre,jdbcType=VARCHAR},
      </if>
      <if test="ruleOpt != null" >
        rule_opt = #{ruleOpt,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="ruleItem != null" >
        rule_item = #{ruleItem,jdbcType=INTEGER},
      </if>
      <if test="ruleRatePre != null" >
        rule_rate_pre = #{ruleRatePre,jdbcType=DECIMAL},
      </if>
      <if test="ruleRate != null" >
        rule_rate = #{ruleRate,jdbcType=DECIMAL},
      </if>
      <if test="ruleLevel != null" >
        rule_level = #{ruleLevel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.city.base.model.entity.InvestRule" >
    update invest_rule
    set rule_flag = #{ruleFlag,jdbcType=VARCHAR},
      rule_opt_pre = #{ruleOptPre,jdbcType=VARCHAR},
      rule_opt = #{ruleOpt,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      rule_item = #{ruleItem,jdbcType=INTEGER},
      rule_rate_pre = #{ruleRatePre,jdbcType=DECIMAL},
      rule_rate = #{ruleRate,jdbcType=DECIMAL},
      rule_level = #{ruleLevel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>


  <sql id="Rule_Item_Column_List" >
    r.rule_id ruleId, r.rule_flag ruleFlag, r.rule_opt_pre ruleOptPre, r.rule_opt ruleOpt,r. rule_name ruleName, r.rule_desc ruleDesc, r.rule_item ruleItem, r.rule_rate_pre ruleRatePre,
    r.rule_rate ruleRate, r.rule_level ruleLevel, DATE_FORMAT(r.create_time,'%Y-%m-%d %h:%m:%s') createTime, DATE_FORMAT(r.update_time,'%Y-%m-%d %h:%m:%s') updateTime,i.item_name itemName,i.item_flag itemFlag
  </sql>
  <select id="getInvestRuleList" resultType="com.dream.city.base.model.resp.RuleResp" parameterType="com.dream.city.base.model.req.RuleReq" >
    select
    <include refid="Rule_Item_Column_List" />
    from invest_rule r INNER JOIN rule_item i ON r.rule_item = i.item_id
    <where>
      r.rule_item = i.item_id
      <if test="ruleId != null" >
        and r.rule_id = #{ruleId,jdbcType=INTEGER}
      </if>
      <if test="ruleName != null and ruleName != ''" >
        and r.rule_name like '%${ruleName}%'
      </if>
      <if test="ruleFlag != null and ruleFlag != ''" >
        and r.rule_flag = #{ruleFlag,jdbcType=VARCHAR}
      </if>
      <if test="ruleItem != null" >
        and r.rule_item = #{ruleItem,jdbcType=INTEGER}
      </if>
      <if test="ruleDesc != null and ruleDesc != ''" >
        and r.rule_desc like '%${ruleDesc}%'
      </if>
      <if test="ruleRate != null and ruleRate != 0" >
        and rule_rate = #{ruleRate,jdbcType=DECIMAL}
      </if>
      <if test="ruleLevel != null" >
        and r.rule_level = #{ruleLevel,jdbcType=INTEGER}
      </if>
      <if test="itemName != null and itemName != ''" >
        and i.item_name = #{itemName,jdbcType=VARCHAR}
      </if>
      <if test="itemFlag != null and itemFlag != ''" >
        and i.item_flag = #{itemFlag,jdbcType=VARCHAR}
      </if>
    </where>
    order by r.rule_level asc,r.update_time desc
  </select>


  <select id="getRuleFlagList" resultType="com.dream.city.base.model.entity.InvestRule" parameterType="com.dream.city.base.model.entity.InvestRule" >
    select rule_flag ruleFlag,rule_name ruleName,rule_opt_pre ruleOptPre,rule_opt ruleOpt,rule_rate_pre ruleRatePre,rule_rate ruleRate
    from invest_rule
    <where>
      <if test="ruleName != null and ruleName != ''" >
        and rule_name like '%${ruleName}%'
      </if>
      <if test="ruleFlag != null and ruleFlag != ''" >
        and rule_flag = #{ruleFlag,jdbcType=VARCHAR}
      </if>
      <if test="ruleItem != null" >
        and rule_item = #{ruleItem,jdbcType=INTEGER}
      </if>
    </where>
    order by rule_level asc,update_time desc
  </select>

</mapper>