<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.Notice" >
    <id column="notice_id" property="noticeId" jdbcType="INTEGER" />
    <result column="notice_content" property="noticeContent" jdbcType="VARCHAR" />
    <result column="notice_state" property="noticeState" jdbcType="INTEGER" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    notice_id, notice_content, notice_state, DATE_FORMAT(createtime,'%Y-%m-%d %h:%m:%s') createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from game_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </select>
  <select id="getNoticeList" resultMap="BaseResultMap" parameterType="com.dream.city.base.model.entity.Notice" >
    select
    <include refid="Base_Column_List" />
    from game_notice
    where 1=1
    <if test="noticeState != null" >
      and notice_state = #{noticeState,jdbcType=INTEGER}
    </if>
    <if test="noticeContent != null and noticeContent != ''" >
      and notice_content like CONCAT(CONCAT('%',#{noticeContent,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game_notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.city.base.model.entity.Notice" >
    insert into game_notice (notice_id, notice_content, notice_state, 
      createtime)
    values (#{noticeId,jdbcType=INTEGER}, #{noticeContent,jdbcType=VARCHAR}, #{noticeState,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.Notice" >
    insert into game_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        notice_id,
      </if>
      <if test="noticeContent != null" >
        notice_content,
      </if>
      <if test="noticeState != null" >
        notice_state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="noticeContent != null" >
        #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeState != null" >
        #{noticeState,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.entity.Notice" >
    update game_notice
    <set >
      <if test="noticeContent != null" >
        notice_content = #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeState != null" >
        notice_state = #{noticeState,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.city.base.model.entity.Notice" >
    update game_notice
    set notice_content = #{noticeContent,jdbcType=VARCHAR},
      notice_state = #{noticeState,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
</mapper>