<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.PlayerLikesMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.PlayerLikes" >
    <id column="liked_id" property="likedId" jdbcType="INTEGER" />
    <result column="liked_player_id" property="likedPlayerId" jdbcType="VARCHAR" />
    <result column="liked_invest_id" property="likedInvestId" jdbcType="INTEGER" />
    <result column="liked_set_total" property="likedSetTotal" jdbcType="INTEGER" />
    <result column="liked_get_total" property="likedGetTotal" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    liked_id, liked_player_id, liked_invest_id, liked_set_total, liked_get_total, DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') create_time, DATE_FORMAT(update_time,'%Y-%m-%d %h:%m:%s') update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from player_likes
    where liked_id = #{likedId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from player_likes
    where liked_id = #{likedId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.dream.city.base.model.entity.PlayerLikes" >
    insert into player_likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likedId != null" >
        liked_id,
      </if>
      <if test="likedPlayerId != null" >
        liked_player_id,
      </if>
      <if test="likedInvestId != null" >
        liked_invest_id,
      </if>
      <if test="likedSetTotal != null" >
        liked_set_total,
      </if>
      <if test="likedGetTotal != null" >
        liked_get_total,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likedId != null" >
        #{likedId,jdbcType=INTEGER},
      </if>
      <if test="likedPlayerId != null" >
        #{likedPlayerId,jdbcType=VARCHAR},
      </if>
      <if test="likedInvestId != null" >
        #{likedInvestId,jdbcType=INTEGER},
      </if>
      <if test="likedSetTotal != null" >
        #{likedSetTotal,jdbcType=INTEGER},
      </if>
      <if test="likedGetTotal != null" >
        #{likedGetTotal,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <insert id="insertSelective" parameterType="com.dream.city.base.model.req.PlayerLikesReq" >
    insert into player_likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likedId != null" >
        liked_id,
      </if>
      <if test="likedPlayerId != null" >
        liked_player_id,
      </if>
      <if test="likedInvestId != null" >
        liked_invest_id,
      </if>
      <if test="likedSetTotal != null" >
        liked_set_total,
      </if>
      <if test="likedGetTotal != null" >
        liked_get_total,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likedId != null" >
        #{likedId,jdbcType=INTEGER},
      </if>
      <if test="likedPlayerId != null" >
        #{likedPlayerId,jdbcType=VARCHAR},
      </if>
      <if test="likedInvestId != null" >
        #{likedInvestId,jdbcType=INTEGER},
      </if>
      <if test="likedSetTotal != null" >
        #{likedSetTotal,jdbcType=INTEGER},
      </if>
      <if test="likedGetTotal != null" >
        #{likedGetTotal,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.req.PlayerLikesReq" >
    update player_likes
    <set >
      <if test="likedPlayerId != null" >
        liked_player_id = #{likedPlayerId,jdbcType=VARCHAR},
      </if>
      <if test="likedInvestId != null" >
        liked_invest_id = #{likedInvestId,jdbcType=INTEGER},
      </if>
      <if test="likedSetTotal != null" >
        liked_set_total = #{likedSetTotal,jdbcType=INTEGER},
      </if>
      <if test="likedGetTotal != null" >
        liked_get_total = #{likedGetTotal,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      update_time = now(),
    </set>
    where liked_id = #{likedId,jdbcType=INTEGER}
  </update>

  <select id="playerLikesCount" resultType="INTEGER" parameterType="com.dream.city.base.model.req.PlayerLikesReq" >
    select sum(liked_invest_total)
    from player_likes
    where liked_player_id = #{likedPlayerId,jdbcType=VARCHAR}
  </select>


  <select id="playerLikesList" resultType="com.dream.city.base.model.resp.PlayerLikesResp" parameterType="com.dream.city.base.model.req.PlayerLikesReq" >
    select * FROM (
    select l.liked_id likedId, l.liked_player_id likedPlayerId, l.liked_invest_id likedInvestId, l.liked_set_total likedGetTotal, l.liked_get_total likedSetTotal,
    DATE_FORMAT(l.create_time,'%Y-%m-%d %h:%m:%s') createTime, DATE_FORMAT(l.update_time,'%Y-%m-%d %h:%m:%s') updateTime,
    (SELECT p1.player_name from city_player p1 WHERE l.liked_player_id =p1.player_id ) friendName,
    (SELECT p2.player_nick from city_player p2 WHERE l.liked_player_id =p2.player_id ) friendNick,
    (SELECT i.in_name FROM city_invest i WHERE i.in_id=l.liked_invest_id) inName
    from player_likes l) a
    where 1=1
    <if test="likedId != null">
      and likedId = #{likedId,jdbcType=INTEGER}
    </if>
    <if test="likedPlayerId != null and likedPlayerId != ''">
      and likedPlayerId = #{likedPlayerId,jdbcType=VARCHAR}
    </if>
    <if test="friendName != null and friendName != ''">
      and friendName like '%${friendName}%'
    </if>
    <if test="friendNick != null and friendNick != ''">
      and friendNick like '%${friendNick}%'
    </if>
    <if test="playerName != null and playerName != ''">
      and playerName like '%${playerName}%'
    </if>
    <if test="playerNick != null and playerNick != ''">
      and playerNick like '%${playerNick}%'
    </if>
    <if test="inName != null and inName != ''">
      and inName like '%${inName}%'
    </if>
    <if test="likedInvestId != null">
      and likedInvestId = #{likedInvestId,jdbcType=INTEGER}
    </if>
    order by updateTime desc
  </select>

  <select id="getLikes" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from player_likes
    where 1=1 and liked_player_id = #{playerId,jdbcType=VARCHAR}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.dream.city.base.model.entity.PlayerLikes">
    update player_likes
    set player_id = #{playerId,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getInvestLikes" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from player_likes
    where 1=1 and liked_player_id = #{playerId,jdbcType=VARCHAR}
  </select>

</mapper>