<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.city.base.model.mapper.RuleItemMapper" >
  <resultMap id="BaseResultMap" type="com.dream.city.base.model.entity.RuleItem" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_flag" property="itemFlag" jdbcType="VARCHAR" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
    <result column="item_state" property="itemState" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, item_name, item_desc, item_state,item_flag, DATE_FORMAT(create_time,'%Y-%m-%d %h:%m:%s') create_time, DATE_FORMAT(update_time,'%Y-%m-%d %h:%m:%s') update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rule_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rule_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dream.city.base.model.entity.RuleItem" >
    insert into rule_item (item_id, item_name, item_desc, 
      item_state, create_time, update_time,item_flag
      )
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemDesc,jdbcType=VARCHAR}, 
      #{itemState,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{itemType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.RuleItem" >
    insert into rule_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
      <if test="itemState != null" >
        item_state,
      </if>
      <if test="itemFlag != null" >
        item_flag,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null" >
        #{itemState,jdbcType=TINYINT},
      </if>
      <if test="itemFlag != null" >
        #{itemFlag,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.city.base.model.entity.RuleItem" >
    update rule_item
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null" >
        item_state = #{itemState,jdbcType=INTEGER},
      </if>
      <if test="itemFlag != null" >
        item_flag = #{itemFlag,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
      </if>
      update_time = now(),
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.city.base.model.entity.RuleItem" >
    update rule_item
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_desc = #{itemDesc,jdbcType=VARCHAR},
      item_state = #{itemState,jdbcType=INTEGER},
      item_flag = #{itemFlag,jdbcType=VARCHAR},
      create_time = now(),
      update_time = now(),
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>

  <select id="getRuleItemList" resultMap="BaseResultMap" parameterType="com.dream.city.base.model.entity.RuleItem" >
    select
    <include refid="Base_Column_List" />
    from rule_item
    <where>
       1=1
      <if test="itemId != null" >
        and item_id = #{itemId,jdbcType=INTEGER}
      </if>
      <if test="itemName != null and itemName != ''" >
        and item_name like '%${itemName}%'
      </if>
      <if test="itemDesc != null and itemDesc != ''" >
        and item_desc like '%${itemDesc}%'
      </if>
      <if test="itemFlag != null and itemFlag != ''" >
        and item_flag = #{itemFlag,jdbcType=VARCHAR}
      </if>
      <if test="itemState != null" >
        and item_state = #{itemState,jdbcType=INTEGER}
      </if>
    </where>
    order by update_time desc
  </select>

  <select id="getRuleItemFlagList" resultType="com.dream.city.base.model.entity.RuleItem" parameterType="java.lang.String">
    select item_id itemId,item_flag itemFlag, item_name itemName
    from rule_item
    <where>
      item_state = 1
      <if test="itemFlag != null and itemFlag != ''" >
        and item_flag = #{itemFlag,jdbcType=VARCHAR}
      </if>
    </where>
    order by update_time desc
  </select>

</mapper>