<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.city.base.model.mapper.SalesOrderMapper">
    <resultMap id="OrderBaseResultMap" type="com.dream.city.base.model.entity.SalesOrder">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
        <result column="order_buy_type" property="orderBuyType" jdbcType="VARCHAR" />
        <result column="order_pay_type" property="orderPayType" jdbcType="VARCHAR" />
        <result column="order_pay_amount" property="orderPayAmount" jdbcType="DOUBLE" />
        <result column="order_player_buyer" property="orderPlayerBuyer" jdbcType="VARCHAR" />
        <result column="order_player_seller" property="orderPlayerSeller" jdbcType="VARCHAR" />
        <result column="order_state" property="orderState" jdbcType="VARCHAR" />


        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.dream.city.base.model.entity.SalesOrder" >
        insert into sales_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="orderAmount != null" >
                order_amount,
            </if>
            <if test="orderBuyType != null" >
                order_buy_type,
            </if>
            <if test="orderPayType != null" >
                order_pay_type,
            </if>
            <if test="orderPayAmount != null" >
                order_pay_amount,
            </if>
            <if test="orderPlayerBuyer != null" >
                order_player_buyer,
            </if>
            <if test="orderPlayerSeller != null" >
                order_player_seller,
            </if>
            <if test="orderState != null" >
                order_state,
            </if>
            <if test="createTime != null" >
                createtime,
            </if>
            <if test="updateTime != null" >
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null" >
                #{orderAmount,jdbcType=DOUBLE},
            </if>
            <if test="orderBuyType != null" >
                #{orderBuyType,jdbcType=VARCHAR},
            </if>
            <if test="orderPayType != null" >
                #{orderPayType,jdbcType=VARCHAR},
            </if>
            <if test="orderPayAmount != null" >
                #{orderPayAmount,jdbcType=DOUBLE},
            </if>
            <if test="orderPlayerBuyer != null" >
                #{orderPlayerBuyer,jdbcType=VARCHAR},
            </if>
            <if test="orderPlayerSeller != null" >
                #{orderPlayerSeller,jdbcType=VARCHAR},
            </if>
            <if test="orderState != null" >
                #{orderState,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getSalesOrderById" resultMap="OrderBaseResultMap" parameterType="com.dream.city.base.model.entity.SalesOrder" >
        select o.id,
        o.order_id,
        o.order_amount,
        o.order_pay_amount,
        o.order_buy_type,
        o.order_pay_type,
        (SELECT p1.player_name FROM city_player p1 WHERE p1.player_id=o.order_player_buyer) order_player_buyer,
        (SELECT p2.player_name FROM city_player p2 WHERE p2.player_id=o.order_player_seller) order_player_seller,
        o.order_state,
        o.createtime,
        o.updatetime
        from sales_order o
        where o.id = #{id,jdbcType=INTEGER}
    </select>


    <select id="getSalesOrderList" resultMap="OrderBaseResultMap" parameterType="com.dream.city.base.model.entity.SalesOrder" >
        select * FROM (
        select o.id,
        o.order_id,
        o.order_amount,
        o.order_pay_amount,
        o.order_buy_type,
        o.order_pay_type,
        (SELECT p1.player_name FROM city_player p1 WHERE p1.player_id=o.order_player_buyer) order_player_buyer,
        (SELECT p2.player_name FROM city_player p2 WHERE p2.player_id=o.order_player_seller) order_player_seller,
        o.order_state,
        o.createtime,
        o.updatetime
        from sales_order o
        ) a
        <where>
            1=1
            <if test="id != null">
                and a.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="orderId != null">
                and a.order_id = #{orderId,jdbcType=INTEGER}
            </if>
            <if test="orderBuyType != null and orderBuyType != ''">
                and a.order_buy_type = #{orderBuyType,jdbcType=VARCHAR}
            </if>
            <if test="orderPayType != null and orderPayType != ''">
                and a.order_pay_type = #{orderPayType,jdbcType=VARCHAR}
            </if>
            <if test="orderPlayerBuyer != null and orderPlayerBuyer != ''">
                and a.order_player_buyer = #{orderPlayerBuyer,jdbcType=VARCHAR}
            </if>
            <if test="orderPlayerSeller != null and orderPlayerSeller != ''">
                and a.order_player_seller = #{orderPlayerSeller,jdbcType=VARCHAR}
            </if>
            <if test="orderState != null and orderState != ''">
                and a.order_state = #{orderState,jdbcType=INTEGER}
            </if>
        </where>
        order by a.createtime desc
    </select>



</mapper>