<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.city.base.model.mapper.SalesOrderMapper">
    <resultMap id="OrderBaseResultMap" type="com.dream.city.base.model.entity.SalesOrder">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="order_pay_amount" jdbcType="DECIMAL" property="orderPayAmount" />
        <result column="order_buy_type" jdbcType="VARCHAR" property="orderBuyType"/>
        <result column="order_pay_type" jdbcType="VARCHAR" property="orderPayType"/>
        <result column="order_player_buyer" jdbcType="VARCHAR" property="orderPlayerBuyer"/>
        <result column="order_player_seller" jdbcType="VARCHAR" property="orderPlayerSeller"/>
        <result column="order_state" jdbcType="INTEGER" property="orderState"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <select id="getSalesOrderById" resultMap="OrderBaseResultMap" parameterType="com.dream.city.base.model.entity.SalesOrder" >
        select * FROM (
        select o.id,
        o.order_id,
        o.order_amount,
        o.order_pay_amount,
        o.order_buy_type,
        o.order_pay_type,
        (SELECT p1.player_name FROM city_player p1 WHERE p1.player_id=o.order_player_buyer) order_player_buyer,
        (SELECT p2.player_name FROM city_player p2 WHERE p2.player_id=o.order_player_seller) order_player_seller,
        o.order_state,
        o.createtime,
        o.updatetime
        from sales_order o
        ) a where  a.id = #{id,jdbcType=INTEGER}
    </select>


    <select id="getSalesOrderList" resultMap="OrderBaseResultMap" parameterType="com.dream.city.base.model.entity.SalesOrder" >
        select * FROM (
        select o.id,
        o.order_id,
        o.order_amount,
        o.order_pay_amount,
        o.order_buy_type,
        o.order_pay_type,
        (SELECT p1.player_name FROM city_player p1 WHERE p1.player_id=o.order_player_buyer) order_player_buyer,
        (SELECT p2.player_name FROM city_player p2 WHERE p2.player_id=o.order_player_seller) order_player_seller,
        o.order_state,
        o.createtime,
        o.updatetime
        from sales_order o
        ) a
        <where>
            1=1
            <if test="id != null">
                and a.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="orderId != null">
                and a.order_id = #{orderId,jdbcType=INTEGER}
            </if>
            <if test="orderBuyType != null and orderBuyType != ''">
                and a.order_buy_type = #{orderBuyType,jdbcType=VARCHAR}
            </if>
            <if test="orderPayType != null and orderPayType != ''">
                and a.order_pay_type = #{orderPayType,jdbcType=VARCHAR}
            </if>
            <if test="orderPlayerBuyer != null and orderPlayerBuyer != ''">
                and a.order_player_buyer = #{orderPlayerBuyer,jdbcType=VARCHAR}
            </if>
            <if test="orderPlayerSeller != null and orderPlayerSeller != ''">
                and a.order_player_seller = #{orderPlayerSeller,jdbcType=VARCHAR}
            </if>
            <if test="orderState != null">
                and a.order_state = #{orderState,jdbcType=INTEGER}
            </if>
        </where>
        order by a.createtime desc
    </select>



</mapper>