<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.city.player.domain.mapper.PlayerMapper">
  <resultMap id="BaseResultMap" type="com.dream.city.player.domain.entity.Player">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
    <result column="player_nick" jdbcType="VARCHAR" property="playerNick" />
    <result column="player_pass" jdbcType="VARCHAR" property="playerPass" />
    <result column="player_trade_pass" jdbcType="VARCHAR" property="playerTradePass" />
    <result column="player_invite" jdbcType="VARCHAR" property="playerInvite" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, player_id, player_name, player_nick, player_pass, player_trade_pass, player_invite,
    create_time, update_time
  </sql>

  <select id="getPlayerById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_player
    where player_id = #{playerId,jdbcType=VARCHAR}
  </select>


  <select id="getPlayers" parameterType="com.dream.city.player.domain.entity.Player" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_player
    <where>
        1=1
      <if test="playerId != null and playerId != ''">
        and player_id = #{playerId,jdbcType=VARCHAR}
      </if>
      <if test="playerName != null and playerName != ''">
        and player_name = #{playerName,jdbcType=VARCHAR}
      </if>
      <if test="playerNick != null and playerNick != ''">
        and player_nick = #{playerNick,jdbcType=VARCHAR}
      </if>

    </where>
  </select>

  <delete id="deleteByPlayerId" parameterType="java.lang.Long">
    delete from t_player
    where player_id = #{playerId,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.dream.city.player.domain.entity.Player" >
    insert into t_player
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="playerId != null" >
        player_id,
      </if>
      <if test="playerName != null" >
        player_name,
      </if>
      <if test="playerNick != null" >
        player_nick,
      </if>
      <if test="playerPass != null" >
        player_pass,
      </if>
      <if test="playerTradePass != null" >
        player_trade_pass,
      </if>
      <if test="playerInvite != null" >
        player_invite,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="playerId != null" >
        #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null" >
        #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="playerNick != null" >
        #{playerNick,jdbcType=VARCHAR},
      </if>
      <if test="playerPass != null" >
        #{playerPass,jdbcType=VARCHAR},
      </if>
      <if test="playerTradePass != null" >
        #{playerTradePass,jdbcType=VARCHAR},
      </if>
      <if test="playerInvite != null" >
        #{playerInvite,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPlayerId" parameterType="com.dream.city.player.domain.entity.Player">
    update t_player
    <set >
      <if test="playerName != null" >
        player_name = #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="playerNick != null" >
        player_nick = #{playerNick,jdbcType=VARCHAR},
      </if>
      <if test="playerPass != null" >
        player_pass = #{playerPass,jdbcType=VARCHAR},
      </if>
      <if test="playerTradePass != null" >
        player_trade_pass = #{playerTradePass,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where player_id = #{playerId,jdbcType=VARCHAR}
  </update>

</mapper>